#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.difficulty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.difficulty button {
  margin-right: 10px;
}
.difficulty select {
  font-size: 1em;
  padding: 0.5em;
  margin-left: 10px;
}