.difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.difficulty select {
    font-size: 1em;
    padding: 0.5em;
    margin-left: 10px;
}
.cells {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    background: white;
}
.cell {
    display: flex;
    place-items: center;
    justify-content: center;
    font-size: 2em;
    height: 100px;
    width: 100px;
    border: 1px solid #000;
}
.cell.next-X, .cell.next-O {
    cursor: pointer;
}
.cell.next-X:hover::after {
    content: 'X';
    opacity: 0.5;
}
.cell.next-O:hover::after {
    content: 'O';
    opacity: 0.5;
}