.difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.difficulty select {
    font-size: 1em;
    padding: 0.5em;
    margin-left: 10px;
}
.cells {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    background: white;
}
.cell {
    display: flex;
    place-items: center;
    justify-content: center;
    font-size: 2em;
    height: 100px;
    width: 100px;
    border: 1px solid #000;
}
.cell.next-X, .cell.next-O {
    cursor: pointer;
}
.cell.next-X:hover::after {
    content: 'X';
    opacity: 0.5;
}
.cell.next-O:hover::after {
    content: 'O';
    opacity: 0.5;
}

.strike {
    position: absolute;
    background: dodgerblue;
}
.strike-line-1 {
    top: 16%;
    left: 5%;
    width: 90%;
    height: 4px;
}
.strike-line-2 {
    top: 49%;
    left: 5%;
    width: 90%;
    height: 4px;
}
.strike-line-3 {
    top: 83%;
    left: 5%;
    width: 90%;
    height: 4px;
}
.strike-line-4 {
    top: 5%;
    left: 16%;
    width: 4px;
    height: 90%;
}
.strike-line-5 {
    top: 5%;
    left: 50%;
    width: 4px;
    height: 90%;
}
.strike-line-6 {
    top: 5%;
    left: 83%;
    width: 4px;
    height: 90%;
}
.strike-line-7 {
    top: 49%;
    left: 5%;
    width: 90%;
    height: 5px;
    transform: skewY(45deg);
}
.strike-line-8 {
    top: 50%;
    left: 5%;
    width: 90%;
    height: 5px;
    transform: skewY(-45deg);
}